.Shop{
    height: 600px;
    background: rgb(0,0,0);
    background: linear-gradient(94deg, rgba(0,0,0,1) 56%, rgba(226,226,8,0) 93%);
}

@media screen and (max-width: 768px)  {
    .Shop{
  
        height: 400px;

        
   
    }
   

}